@using Microsoft.AspNetCore.Identity;
@using DataAccess.Design_Pattern.Repositories
@using DataAccess.Design_Pattern.UnitOfWork
@inject IUnitOfWork _UserService
@inject UserManager<Models.Entities.User.User> _userManager;
@using DataAccess.ViewModels
@{ var user = await _userManager.FindByNameAsync(User.Identity.Name);
    int possition;
    if (_UserService.employeeRepository.IsExistEmployeeDocument(user.Id))
    {
        possition = _UserService.employeeRepository.GetEmployeeInfoPossition(user.Id);
    }
    else
    {
        possition = 0;
    }
}


@if (possition == 4)
{
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fa fa-calendar"></i>
            <p style="color:white">
                مدیریت رزرو ها
                <i class="right fa fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Employee/EmployeeReservation/ListOfEmployeeDateReservations" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>
                        لیست تاریخ های آینده
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Employee/EmployeeReservation/GetListOfEmployeeDataReservationHistory" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>
                        تاریخچه ی خدمات
                    </p>
                </a>
            </li>
        </ul>


    </li>


    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fa fa-joomla"></i>
            <p style="color:white">
                مدیریت خدمات
                <i class="right fa fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Employee/SelectJobForUser/ListOfEmployeeJobs" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>

                        خدمت های شما
                    </p>
                </a>
            </li>

        </ul>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Employee/SelectJobForUser/JobsList" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>

                        انتخاب  خدمت
                    </p>
                </a>
            </li>

        </ul>

    </li>


    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fa fa-dollar"></i>
            <p style="color:white">
                مدیریت مالی
                <i class="right fa fa-angle-left"></i>
            </p>
        </a>

        <ul class="nav nav-treeview">
            <li class="nav-item has-treeview">
                <a href="/Employee/FianancialTransaction/ListOFEmployeeFianancialTransaction" class="nav-link ">
                    <i class="nav-icon fa fa-dollar"></i>
                    <p style="color:white">
                        لیست تراکنش ها
                        <i class="right fa fa-angle-left"></i>

                    </p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="/Employee/Checkout/ListOfCheckouts" class="nav-link ">
                    <i class="nav-icon fa fa-dollar"></i>
                    <p style="color:white">
                        دریافت وجه
                        <i class="right fa fa-angle-left"></i>

                    </p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="/Employee/Checkout/ListOfCheckoutsForAdmin" class="nav-link ">
                    <i class="nav-icon fa fa-dollar"></i>
                    <p style="color:white">
                        پرداخت وجه
                        <i class="right fa fa-angle-left"></i>

                    </p>
                </a>
            </li>
        </ul>

    </li>
           
    }
