@model DataAccess.ViewModels.EditUserInAdminPanel
@{ ViewData["Title"] = "ویرایش کاربران ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<div class="content-wrapper" style="min-height: 805px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ویرایش کاربر جدید</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active"> ویرایش کاربر   </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <form asp-action="Edit" asp-controller="Users" asp-area="Admin" method="post" enctype="multipart/form-data">
        <div style="color: darkred;" asp-validation-summary="ModelOnly"></div>

        <input type="hidden" asp-for="Id" />
        @if (ViewBag.Employee == true)
        {
            <input type="hidden" name="Employee" value="true" />
        }
        @if (ViewBag.UserPage == true)
        {
            <input type="hidden" name="UserPage" value="true" />
        }
        @if (ViewBag.Admin == true)
        {
            <input type="hidden" name="Admin" value="true" />
        }
        @if (ViewBag.Supporter == true)
        {
            <input type="hidden" name="Supporter" value="true" />
        }

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-7">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">اطلاعات کاربری  </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div role="form" asp-action="Create" asp-controller="Users" asp-area="Admin">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> نام کاربری </label>
                                        <input type="text" asp-for="UserName" readonly class="form-control" id="exampleInputEmail1" placeholder="نام کاربری  را وارد کنید">
                                        <span asp-validation-for="UserName" class="text-danger"></span>

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> شماره تلفن   </label>
                                        <input type="text" asp-for="PhoneNumber" class="form-control" id="exampleInputEmail1" placeholder="شماره تلفن  را وارد کنید">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">آدرس ایمیل</label>
                                        <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" placeholder="ایمیل را وارد کنید">
                                        <span asp-validation-for="Email" class="text-danger"></span>

                                    </div>
                                    @if (ViewBag.Employee == true)
                                    {

                                        <div class="form-group">
                                            <label>وضعیت  </label>
                                            <select class="form-control" asp-for="Status">
                                                @if (Model.Status == 1)
                                                {
                                                    <option value="1" selected> آفلاین  </option>
                                                    <option value="2"> آنلاین </option>
                                                    <option value="3"> در حال انجام کار  </option>
                                                }
                                                @if (Model.Status == 2)
                                                {
                                                    <option value="1"> آفلاین  </option>
                                                    <option value="2" selected> آنلاین </option>
                                                    <option value="3"> در حال انجام کار  </option>
                                                }
                                                @if (Model.Status == 3)
                                                {
                                                    <option value="1"> آفلاین  </option>
                                                    <option value="2"> آنلاین </option>
                                                    <option value="3" selected> در حال انجام کار  </option>
                                                }



                                            </select>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="form-group" style="display:none;">
                                            <label>وضعیت  </label>
                                            <select class="form-control" asp-for="Status">
                                                @if (Model.Status == 1)
                                                {
                                                    <option value="1" selected> آفلاین  </option>
                                                    <option value="2"> آنلاین </option>
                                                    <option value="3"> در حال انجام کار  </option>
                                                }
                                                @if (Model.Status == 2)
                                                {
                                                    <option value="1"> آفلاین  </option>
                                                    <option value="2" selected> آنلاین </option>
                                                    <option value="3"> در حال انجام کار  </option>
                                                }
                                                @if (Model.Status == 3)
                                                {
                                                    <option value="1"> آفلاین  </option>
                                                    <option value="2"> آنلاین </option>
                                                    <option value="3" selected> در حال انجام کار  </option>
                                                }



                                            </select>
                                        </div>
                                    }

                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">

                                    @if (ViewData["Delete"] != null && ViewBag.Employee != true && ViewBag.UserPage != true && ViewBag.Admin != true && ViewBag.Supporter != true)
                                    {
                                        <a asp-route-id="@Model.Id" asp-action="Delete" asp-controller="Users" asp-area="Admin" class="btn btn-danger">حذف</a>
                                        <a asp-action="Index" asp-controller="Users" asp-area="Admin" class="btn btn-primary">بازگشت</a>
                                    }
                                    @if (ViewBag.Employee == true && ViewData["Delete"] == null)
                                    {
                                        <button type="submit" class="btn btn-success">تایید </button>
                                        <a asp-action="EmployeeList" asp-controller="Users" asp-area="Admin" class="btn btn-primary">بازگشت</a>
                                    }
                                    @if (ViewBag.Employee == true && ViewData["Delete"] != null)
                                    {
                                        <a href="/Admin/Users/Delete?id=@Model.Id&&Employee=true" class="btn btn-danger">حذف</a>
                                        <a asp-action="EmployeeList" asp-controller="Users" asp-area="Admin" class="btn btn-primary">بازگشت</a>
                                    }
                                    @if (ViewBag.UserPage == true && ViewData["Delete"] == null)
                                    {
                                        <button type="submit" class="btn btn-success">تایید </button>
                                        <a asp-action="UsersIndex" asp-controller="Users" asp-area="Admin" class="btn btn-primary">بازگشت</a>
                                    }
                                    @if (ViewBag.UserPage == true && ViewData["Delete"] != null)
                                    {
                                        <a href="/Admin/Users/Delete?id=@Model.Id&&UserPage=true" class="btn btn-danger">حذف</a>
                                        <a asp-action="UsersIndex" asp-controller="Users" asp-area="Admin" class="btn btn-primary">بازگشت</a>
                                    }
                                    @if (ViewBag.Admin == true && ViewData["Delete"] == null)
                                    {
                                        <button type="submit" class="btn btn-success">تایید </button>
                                        <a asp-action="AdminsIndex" asp-controller="Users" asp-area="Admin" class="btn btn-primary">بازگشت</a>
                                    }
                                    @if (ViewBag.Admin == true && ViewData["Delete"] != null)
                                    {
                                        <a href="/Admin/Users/Delete?id=@Model.Id&&Admin=true" class="btn btn-danger">حذف</a>
                                        <a asp-action="AdminsIndex" asp-controller="Users" asp-area="Admin" class="btn btn-primary">بازگشت</a>
                                    }
                                    @if (ViewBag.Supporter == true && ViewData["Delete"] == null)
                                    {
                                        <button type="submit" class="btn btn-success">تایید </button>
                                        <a asp-action="SupportersIndex" asp-controller="Users" asp-area="Admin" class="btn btn-primary">بازگشت</a>
                                    }
                                    @if (ViewBag.Supporter == true && ViewData["Delete"] != null)
                                    {
                                        <a href="/Admin/Users/Delete?id=@Model.Id&&Supporter=true" class="btn btn-danger">حذف</a>
                                        <a asp-action="SupportersIndex" asp-controller="Users" asp-area="Admin" class="btn btn-primary">بازگشت</a>
                                    }
                                    @if (ViewBag.Employee != true && ViewBag.UserPage != true && ViewBag.Admin != true && ViewBag.Supporter != true && ViewData["Delete"] == null)
                                    {
                                        <button type="submit" class="btn btn-success">تایید </button>
                                        <a asp-action="Index" asp-controller="Users" asp-area="Admin" class="btn btn-primary">بازگشت</a>

                                    }



                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="col-md-5">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">  تصویر  </h3>
                            </div>

                            <div class="form-horizontal">
                                <div class="card-body row">
                                    <img style="margin:auto; width:342px" id="imgAvatar" class="img-responsive rounded" src="~/Images/UserAvatar/@Model.AvatarName" alt="upload_img">
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" asp-for="UserAvatar">
                                            <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>


                </div>
            </div><!-- /.container-fluid -->
        </section>
    </form>


</div>

@section Scripts
{
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#UserAvatar").change(function () {
            readURL(this);
        });</script>
}