@model DataAccess.ViewModels.ResetPassword
@{ ViewData["Title"] = "تغییر رمز عبور  ";
}

<div class="content-wrapper" style="min-height: 805px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>تغییر رمز عبور  </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Users">خانه</a></li>
                        <li class="breadcrumb-item active"> تغییر رمز عبور   </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <form asp-action="ResetPassword" asp-controller="Account" asp-area="Users" method="post" enctype="multipart/form-data">
        <div style="color: darkred;" asp-validation-summary="ModelOnly"></div>

        <input type="hidden" asp-for="userid" />
        <input type="hidden" asp-for="Token" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">اطلاعات کاربری  </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div role="form" asp-action="Create" asp-controller="Users" asp-area="Admin">
                                <div class="card-body">


                                    <div class="input-group mb-3">
                                        <input type="text" asp-for="Password" class="form-control" placeholder=" کلمه ی عبور جدید   ">
                                        <div class="input-group-append">
                                            <span class="fa fa-key input-group-text"></span>
                                        </div>
                                        <span style="color:red" asp-validation-for="Password"></span>
                                    </div>


                                    <div class="input-group mb-3">
                                        <input type="text" asp-for="RePassword" class="form-control" placeholder=" تکرار کلمه ی عبور   ">
                                        <div class="input-group-append">
                                            <span class="fa fa-key input-group-text"></span>
                                        </div>
                                        <span style="color:red" asp-validation-for="RePassword"></span>
                                    </div>

                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">

                                    <button type="submit" class="btn btn-success">تایید </button>
                                    <a asp-action="Index" asp-controller="Home" asp-area="Employee" class="btn btn-primary">بازگشت</a>





                                </div>
                            </div>
                        </div>


                    </div>




                </div>
            </div><!-- /.container-fluid -->
        </section>
    </form>


</div>

