@model Models.Entities.User.User
@{
    ViewData["Title"] = "داشبورد خدمت رسان ";

}


<div class="content-wrapper" style="min-height: 713.234px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">داشبورد خدمت رسان</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">خانه</a></li>
                        <li class="breadcrumb-item active">داشبورد خدمت رسان </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @if (ViewBag.Possition == 1)
                {
                    <div class="col-md-12">
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title"> حساب کاربری شما تایید نگردیده </h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body" style="display: block;">
                                کاربر محترم ! ضمن تشکر از ثبت نام شما در سامانه ی خدمت یار خواهش مندیم ثبت نام خود را نهایی کنید
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
             
                }

                @if (ViewBag.Possition == 2)
                {
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title"> مدارک شما ارسال شد </h3>

                                <div class="card-tools">
                                    <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body" style="display: block;">
                                کاربر محترم ! ضمن تشکر از ثبت نام شما در سامانه ی خدمت یار                                                               ضمن تشکر از ارسال مدارک خود بعد از برسی کارشناسان نتیجه  به شما اعلام خواهد شد

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
              
                    <script>
                        // Your delay in milliseconds
                        var delay = 5000;
                        setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);</script>
                }

            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>