@model Models.Entities.User.EmployeeDocuments
@{
    ViewData["Title"] = "اطلاعات خدمت رسان ";
    Layout = "~/Areas/Employee/Views/Shared/_TestLayout.cshtml";
}



<div class="content-wrapper" style="min-height: 539px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>اطلاعات و مدارک خدمت رسان </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">خانه</a></li>
                        <li class="breadcrumb-item active">اطلاعات و مدارک </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <form asp-action="EmployeeDocument" asp-controller="UserInformation" asp-area="Employee" method="post" enctype="multipart/form-data">
                <div style="color: darkred;" asp-validation-summary="ModelOnly"></div>

                <div class="row">

                    <input type="hidden" asp-for="Userid" />
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Description" />
                    <input type="hidden" asp-for="EmployeeCertificate" />
                    <input type="hidden" asp-for="PersonalPicture" />
                    <div class="col-md-6">
                        <!-- Horizontal Form -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">  عکس 3*4  </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="form-horizontal">
                                <div class="card-body row">
                                    @if (Model.PersonalPicture == null)
                                    {
                                        <img style="margin:auto; width:342px; height:250px" id="imgAvatar" class="img-responsive rounded" src="~/Images/EmployeeDocuments/Defult.jpg" alt="upload_img">

                                    }
                                    else
                                    {
                                        <img style="margin:auto; width:342px; height:250px" id="imgAvatar" class="img-responsive rounded" src="~/Images/EmployeeDocuments/@Model.PersonalPicture" alt="upload_img">

                                    }
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="Picture" id="Picture">
                                            <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <!-- /.card-footer -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Horizontal Form -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">  تصویر اجاره نامه   </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="form-horizontal">
                                <div class="card-body row">

                                    @if (Model.EmployeeCertificate == null)
                                    {
                                        <img style="margin:auto; width:342px; height:250px" id="imgEmployee" class="img-responsive rounded" src="~/Images/EmployeeDocuments/EmployeeCertificate.jpg" alt="upload_img">

                                    }
                                    else
                                    {
                                        <img style="margin:auto; width:342px; height:250px" id="imgEmployee" class="img-responsive rounded" src="~/Images/EmployeeDocuments/@Model.EmployeeCertificate" alt="upload_img">

                                    }

                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="Certificate" id="Certificate">
                                            <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <!-- /.card-footer -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title"> اطلاعات حساب بانکی </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->

                            <div class="row">
                                <div class="card-body col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">شماره حساب بانکی  </label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="BankAccountNumber" placeholder="شماره حساب  را وارد کنید">
                                    </div>

                                </div>
                                <div class="card-body col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> شماره تلفن ثابت </label>
                                        <input type="text" class="form-control" asp-for="HomePhoneNumber" id="exampleInputEmail1" placeholder="شماره تلفن ثابت  را وارد کنید">
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">ارسال</button>
                            </div>
                        </div>


                    </div>

                </div>

            </form>

        </div>
    </section>
</div>


@section Scripts
{
    <script>
        
        function readURL1(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#Picture").change(function () {
            readURL1(this);
        });
       </script>


    <script>
        function readURL2(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgEmployee').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Certificate").change(function () {
            readURL2(this);
        });</script>

}