@{
    ViewData["Title"] = "Home Page";
}

<div class="content-wrapper" style="min-height: 805px;">
    @if (ViewBag.Create == true)
    {
        <div class="col-md-12">
            <div class="card bg-success-gradient">
                <div class="card-header">
                    <h3 class="card-title"> ثبت با موفقیت </h3>

                    <div class="card-tools">
                        <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    ثبت کاربر   جدید   با موفقیت انجام شده است
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <script>
            // Your delay in milliseconds
            var delay = 8000;
            setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);
        </script>
    }

    @if (ViewBag.Login == true)
    {
        <div class="col-md-12">
            <div class="card bg-info-gradient">
                <div class="card-header">
                    <h3 class="card-title"> ورود  با موفقیت </h3>

                    <div class="card-tools">
                        <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>


                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    ورود کاربر با موفقیت انجام شده است 
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <script>
            // Your delay in milliseconds
            var delay = 8000;
            setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);
        </script>
    }
</div>
