@{
    ViewData["Title"] = "Home Page";
}

<div class="content-wrapper" style="min-height: 963.763px;">
    <div class="content-header">

        @if (ViewBag.Create == true)
        {
            <div class="col-md-12">
                <div class="card bg-warning-gradient">
                    <div class="card-header">
                        <h3 class="card-title"> ثبت با موفقیت </h3>

                        <div class="card-tools">
                            <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      
                        ثبت کاربر   جدید   با موفقیت انجام شده است
                        جهت فعال سازی بر روی لینک ارسال شده کلیک کنید 
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <script>
                // Your delay in milliseconds
                var delay = 8000;
                setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);
            </script>
        }

        @if (ViewBag.Login == true)
        {
            <div class="col-md-12">
                <div class="card bg-info-gradient">
                    <div class="card-header">
                        <h3 class="card-title"> ورود  با موفقیت </h3>

                        <div class="card-tools">
                            <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>


                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        ورود @User.Identity.Name با موفقیت انجام شده است
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <script>
                // Your delay in milliseconds
                var delay = 8000;
                setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);
            </script>
        }

        @if (ViewBag.EmployeeRegister == true)
        {
            <div class="col-md-12">
                <div class="card bg-warning-gradient">
                    <div class="card-header">
                        <h3 class="card-title"> ثبت نام اولیه با موفقیت  </h3>

                        <div class="card-tools">
                            <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>


                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        ثبت نام خدمت رسان در اولین مرحله با موفقیت انجام شده است  .
                        ایمیلی جهت فعال سازی حساب کاربری شما برایتان ارسال شده است .
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <script>
                // Your delay in milliseconds
                var delay = 8000;
                setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);
            </script>
        }

        @if (ViewBag.ConfirmEmail == true)
        {
            <div class="col-md-12">
                <div class="card bg-success-gradient" >
                    <div class="card-header">
                        <h3 class="card-title"> ثبت نام  موفقیت  </h3>

                        <div class="card-tools">
                            <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>


                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        ثبت نام اولیه با موفقیت انجام شده است .
                        حساب کاربری شما فعال گردیده است 
            
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <script>
                // Your delay in milliseconds
                var delay = 8000;
                setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);
            </script>
        }
        @if (ViewBag.ForgotPassword == true)
        {
            <div class="col-md-12">
                <div class="card bg-success-gradient" >
                    <div class="card-header">
                        <h3 class="card-title"> بازیابی کلمه ی عبور با موفقیت  </h3>

                        <div class="card-tools">
                            <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>


                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    
                        کلمه ی عبور شما با موفقیت بازیابی گردید 
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <script>
                // Your delay in milliseconds
                var delay = 8000;
                setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);
            </script>
        }


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-6">
                        <!-- small box -->
                        <div class="small-box bg-primary">
                            <div class="inner">
                                <h3>ثبت نام خدمات دهنده  </h3>
                                <p>Employee Registration</p>

                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="/EmploeeRegister" class="small-box-footer">کلیک کنید  <i class="fa fa-arrow-circle-left"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>ثبت نام کاربر عادی </h3>

                                <p>User Registration</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="/Register" class="small-box-footer">کلیک کنید <i class="fa fa-arrow-circle-left"></i></a>
                        </div>
                    </div>

                </div>



            </div>
        </section>
    </div>
    </div>
