@model List<Models.Entities.User.UserSelectedJob>

@{
    ViewData["Title"] = " انتخاب خدمت رسان   ";
}

<div class="content-wrapper" style="min-height: 963.763px;">
    <div class="content-header">

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <!-- Widget: user widget style 1 -->
                            <div class="card card-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header text-white" style="background: url('/Admin_Panel/dist/img/images.jpg') center center; ">
                                    <h3 class="widget-user-username"> @item.User.UserName</h3>
                                    <h5 class="widget-user-desc"> @item.JobCategory.CategoryTitle</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img style="" class="img-circle" src="/Images/EmployeeResumeForJobs/@item.UserAvatar" alt="User Avatar">
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-sm-4 border-left">
                                            <div class="description-block">
                                                @if (item.User.EmployeeStatusID == 1)
                                                {
                                                    <span class="btn btn-danger">آفلاین  </span>
                                                }
                                                @if (item.User.EmployeeStatusID == 2)
                                                {
                                                    <span class="btn btn-success">آنلاین </span>
                                                }
                                                @if (item.User.EmployeeStatusID == 3)
                                                {
                                                    <span class="btn btn-primary">درحال کار </span>
                                                }
                                         
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4 border-left">
                                            <div class="description-block">
                                     
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4">
                                            <div class="description-block">
                                                <a href="/EmployeeReservation/ShowEmployeeInfoPage/@item.JobCategorySelectedID" class="btn btn-info" style="color:white;">مشاهده  </a>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>
