@model Models.Entities.Factor.RequestForCheckout
@{
    ViewData["Title"] = "مدیریت درخواست ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper" style="min-height: 805px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1> مدیریت درخواست </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active">مدیریت درخواست </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title"> میدیرت درخواست </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form">
                    <div class="form-group mt-4 mr-4">
                        <label for="exampleInputEmail1"> لطفا نتیجه ی برسی خود را اعلام کنید </label>
                    </div>
                    <div class="card-footer">
                        <a href="/Admin/ManageMoney/SubmitRequest?id=@Model.RequestForCheckoutID&&Result=2" class="btn btn-outline-success"> تایید شده  </a>
                        <a href="/Admin/ManageMoney/SubmitRequest?id=@Model.RequestForCheckoutID&&Result=3" class="btn btn-outline-danger"> تایید نشده  </a>
                    </div>
                </form>
            </div>
    

        </div>
    </section>
</div>
