
        <div class="content-wrapper" style="min-height: 650.567px;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>صفحه ارور ۴۰۴</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                                <li class="breadcrumb-item active">صفحه ارور ۴۰۴</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="error-page">
                    <h2 class="headline text-warning"> ۴۰۴</h2>

                    <div class="error-content">
                        <h3><i class="fa fa-warning text-warning"></i> آخ! صفحه مورد نظرتون شما یافت نشد.</h3>

                        <p>
                            متاسفانه صفحه مورد نظر شما در سایت وجود ندارد
                            
                        </p>

               
                    </div>
                    <!-- /.error-content -->
                </div>
                <!-- /.error-page -->
            </section>
            <!-- /.content -->
        </div>



