@model Models.Entities.User.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>
        جهت بازیابی کلمه ی عبور خود کد زیر را در وب سایت وارد کنید 
    </p>
    <p>
        کد بازیابی : @Model.ForgotPasswordCode
    </p>
</div>
